.post__text {
  margin-bottom: 1em;
}
.post {
  width: 40%;
  height: 200px;
  display: inline-block;
  /* z-index: 3; */
}
.post__title {
  font-size: 2em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.post__text, .post__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width:750px) {
  
  .post {
    max-width: none;
    width:100%;
  }
}

@media (max-width:750px) {
  .post {
    max-width: none;
    width:100%;
  }
  
  }
  
  