.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3em;
  /* z-index: 3; */
}

@media (max-width:750px) {
  
  .posts > ul {
    display: block;
  }
}