a {
  color: grey;
  text-decoration: none;
}

.nav__button {
  color: gray;
  display: inline-block;
  margin-right: 0.3em;
  padding: 0.6em;
  cursor: pointer;
}

.nav__buttom-checked a {
  color: white;
}

.nav__button > a:hover {
  color: rgb(201, 192, 192);
}

.nav__button:first-child {
  font-size: 1.3em;
  margin-left: 0.5em;
}
